.main{
    background-color: skyblue;
    height:100vh;
}

.title{
    align-self:center;
}

.headBar{
    background-color: rgb(16, 88, 112);
}

.heading {
    font-weight: bold;
    font-size: 2em;
}

.content{
    justify-content: center;
    height:40%;
}

.appBox{
    background-color: coral;
    display: flex;
    flex-direction: column;
    border: 2px solid black;

}

#output2{
    font-family:"wingdings";
    color:black;

}

#output {
    color: rgb(0, 0, 0);
}

.footBar{
    background-color: rgb(16, 88, 112);
    /* position: relative;
    top:10vh; */
}

.footer{
    text-align: center;
}

@media screen and (min-width:450px){
    .appBox{
        position: relative;
        top:10vh;
    }
}

@media screen and (max-width:396px){
    .footer{
        display:none;
    }
}