.main{
    background-color: skyblue;
    height:100vh;
}

.title{
    align-self:center;
}

.topSpace{
    background-image: linear-gradient(to bottom right, rgb(94, 184, 219), lightblue, rgb(106, 106, 240));
}

.headBar{
    justify-content: space-around;
    background-color: rgb(16, 88, 112);
}

button{
    background-color: rgb(16, 88, 112);
    border-color:black;
    border-radius: 15px;
    border-width:1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

button:hover{
    background-color:skyblue;
}

.material-icons{
    position: relative;
    top:.7vh;
}

.heading {
    font-weight: bold;
    font-size: 2em;
}

.content{
    justify-content: center;
    height:40%;
}

.appBox{
    background-color: coral;
    display: flex;
    flex-direction: column;
    border: 2px solid black;

}

#output2{
    font-family:"wingdings";
    color:black;

}

#output {
    color: rgb(0, 0, 0);
}

.footBar{
    background-color: rgb(16, 88, 112);
    /* position: relative;
    top:10vh; */
}

.footer{
    text-align: center;
}

@media screen and (min-width:450px){
    .appBox{
        position: relative;
        top:10vh;
    }
}

@media screen and (max-width:430px){
    .footer{
        display:none;
    }
}

@media screen and (max-width:540px){
    .buttonText{
        display:none;
    }
}